
$red-base: #F44336;
$red-lighten5: #FFEBEE;
$red-lighten4: #FFCDD2;
$red-lighten3: #EF9A9A;
$red-lighten2: #E57373;
$red-lighten1: #EF5350;
$red-darken1: #E53935;
$red-darken2: #D32F2F;
$red-darken3: #C62828;
$red-darken4: #B71C1C;
$red-accent1: #FF8A80;
$red-accent2: #FF5252;
$red-accent3: #FF1744;
$red-accent4: #D50000;

$pink-base: #e91e63;
$pink-lighten5: #fce4ec;
$pink-lighten4: #f8bbd0;
$pink-lighten3: #f48fb1;
$pink-lighten2: #f06292;
$pink-lighten1: #ec407a;
$pink-darken1: #d81b60;
$pink-darken2: #c2185b;
$pink-darken3: #ad1457;
$pink-darken4: #880e4f;
$pink-accent1: #ff80ab;
$pink-accent2: #ff4081;
$pink-accent3: #f50057;
$pink-accent4: #c51162;

$purple-base: #9c27b0;
$purple-lighten5: #f3e5f5;
$purple-lighten4: #e1bee7;
$purple-lighten3: #ce93d8;
$purple-lighten2: #ba68c8;
$purple-lighten1: #ab47bc;
$purple-darken1: #8e24aa;
$purple-darken2: #7b1fa2;
$purple-darken3: #6a1b9a;
$purple-darken4: #4a148c;
$purple-accent1: #ea80fc;
$purple-accent2: #e040fb;
$purple-accent3: #d500f9;
$purple-accent4: #aa00ff;

$deepPurple-base: #673ab7;
$deepPurple-lighten5: #ede7f6;
$deepPurple-lighten4: #d1c4e9;
$deepPurple-lighten3: #b39ddb;
$deepPurple-lighten2: #9575cd;
$deepPurple-lighten1: #7e57c2;
$deepPurple-darken1: #5e35b1;
$deepPurple-darken2: #512da8;
$deepPurple-darken3: #4527a0;
$deepPurple-darken4: #311b92;
$deepPurple-accent1: #b388ff;
$deepPurple-accent2: #7c4dff;
$deepPurple-accent3: #651fff;
$deepPurple-accent4: #6200ea;

$indigo-base: #3f51b5;
$indigo-lighten5: #e8eaf6;
$indigo-lighten4: #c5cae9;
$indigo-lighten3: #9fa8da;
$indigo-lighten2: #7986cb;
$indigo-lighten1: #5c6bc0;
$indigo-darken1: #3949ab;
$indigo-darken2: #303f9f;
$indigo-darken3: #283593;
$indigo-darken4: #1a237e;
$indigo-accent1: #8c9eff;
$indigo-accent2: #536dfe;
$indigo-accent3: #3d5afe;
$indigo-accent4: #304ffe;

$blue-base: #2196F3;
$blue-lighten5: #E3F2FD;
$blue-lighten4: #BBDEFB;
$blue-lighten3: #90CAF9;
$blue-lighten2: #64B5F6;
$blue-lighten1: #42A5F5;
$blue-darken1: #1E88E5;
$blue-darken2: #1976D2;
$blue-darken3: #1565C0;
$blue-darken4: #0D47A1;
$blue-accent1: #82B1FF;
$blue-accent2: #448AFF;
$blue-accent3: #2979FF;
$blue-accent4: #2962FF;

$lightBlue-base: #03a9f4;
$lightBlue-lighten5: #e1f5fe;
$lightBlue-lighten4: #b3e5fc;
$lightBlue-lighten3: #81d4fa;
$lightBlue-lighten2: #4fc3f7;
$lightBlue-lighten1: #29b6f6;
$lightBlue-darken1: #039be5;
$lightBlue-darken2: #0288d1;
$lightBlue-darken3: #0277bd;
$lightBlue-darken4: #01579b;
$lightBlue-accent1: #80d8ff;
$lightBlue-accent2: #40c4ff;
$lightBlue-accent3: #00b0ff;
$lightBlue-accent4: #0091ea;

$cyan-base: #00bcd4;
$cyan-lighten5: #e0f7fa;
$cyan-lighten4: #b2ebf2;
$cyan-lighten3: #80deea;
$cyan-lighten2: #4dd0e1;
$cyan-lighten1: #26c6da;
$cyan-darken1: #00acc1;
$cyan-darken2: #0097a7;
$cyan-darken3: #00838f;
$cyan-darken4: #006064;
$cyan-accent1: #84ffff;
$cyan-accent2: #18ffff;
$cyan-accent3: #00e5ff;
$cyan-accent4: #00b8d4;

$teal-base: #009688;
$teal-lighten5: #e0f2f1;
$teal-lighten4: #b2dfdb;
$teal-lighten3: #80cbc4;
$teal-lighten2: #4db6ac;
$teal-lighten1: #26a69a;
$teal-darken1: #00897b;
$teal-darken2: #00796b;
$teal-darken3: #00695c;
$teal-darken4: #004d40;
$teal-accent1: #a7ffeb;
$teal-accent2: #64ffda;
$teal-accent3: #1de9b6;
$teal-accent4: #00bfa5;

$green-base: #4CAF50;
$green-lighten5: #E8F5E9;
$green-lighten4: #C8E6C9;
$green-lighten3: #A5D6A7;
$green-lighten2: #81C784;
$green-lighten1: #66BB6A;
$green-darken1: #43A047;
$green-darken2: #388E3C;
$green-darken3: #2E7D32;
$green-darken4: #1B5E20;
$green-accent1: #B9F6CA;
$green-accent2: #69F0AE;
$green-accent3: #00E676;
$green-accent4: #00C853;

$lightGreen-base: #8bc34a;
$lightGreen-lighten5: #f1f8e9;
$lightGreen-lighten4: #dcedc8;
$lightGreen-lighten3: #c5e1a5;
$lightGreen-lighten2: #aed581;
$lightGreen-lighten1: #9ccc65;
$lightGreen-darken1: #7cb342;
$lightGreen-darken2: #689f38;
$lightGreen-darken3: #558b2f;
$lightGreen-darken4: #33691e;
$lightGreen-accent1: #ccff90;
$lightGreen-accent2: #b2ff59;
$lightGreen-accent3: #76ff03;
$lightGreen-accent4: #64dd17;

$lime-base: #cddc39;
$lime-lighten5: #f9fbe7;
$lime-lighten4: #f0f4c3;
$lime-lighten3: #e6ee9c;
$lime-lighten2: #dce775;
$lime-lighten1: #d4e157;
$lime-darken1: #c0ca33;
$lime-darken2: #afb42b;
$lime-darken3: #9e9d24;
$lime-darken4: #827717;
$lime-accent1: #f4ff81;
$lime-accent2: #eeff41;
$lime-accent3: #c6ff00;
$lime-accent4: #aeea00;

$yellow-base: #ffeb3b;
$yellow-lighten5: #fffde7;
$yellow-lighten4: #fff9c4;
$yellow-lighten3: #fff59d;
$yellow-lighten2: #fff176;
$yellow-lighten1: #ffee58;
$yellow-darken1: #fdd835;
$yellow-darken2: #fbc02d;
$yellow-darken3: #f9a825;
$yellow-darken4: #f57f17;
$yellow-accent1: #ffff8d;
$yellow-accent2: #ffff00;
$yellow-accent3: #ffea00;
$yellow-accent4: #ffd600;

$amber-base: #ffc107;
$amber-lighten5: #fff8e1;
$amber-lighten4: #ffecb3;
$amber-lighten3: #ffe082;
$amber-lighten2: #ffd54f;
$amber-lighten1: #ffca28;
$amber-darken1: #ffb300;
$amber-darken2: #ffa000;
$amber-darken3: #ff8f00;
$amber-darken4: #ff6f00;
$amber-accent1: #ffe57f;
$amber-accent2: #ffd740;
$amber-accent3: #ffc400;
$amber-accent4: #ffab00;

$orange-base: #ff9800;
$orange-lighten5: #fff3e0;
$orange-lighten4: #ffe0b2;
$orange-lighten3: #ffcc80;
$orange-lighten2: #ffb74d;
$orange-lighten1: #ffa726;
$orange-darken1: #fb8c00;
$orange-darken2: #f57c00;
$orange-darken3: #ef6c00;
$orange-darken4: #e65100;
$orange-accent1: #ffd180;
$orange-accent2: #ffab40;
$orange-accent3: #ff9100;
$orange-accent4: #ff6d00;

$deepOrange-base: #ff5722;
$deepOrange-lighten5: #fbe9e7;
$deepOrange-lighten4: #ffccbc;
$deepOrange-lighten3: #ffab91;
$deepOrange-lighten2: #ff8a65;
$deepOrange-lighten1: #ff7043;
$deepOrange-darken1: #f4511e;
$deepOrange-darken2: #e64a19;
$deepOrange-darken3: #d84315;
$deepOrange-darken4: #bf360c;
$deepOrange-accent1: #ff9e80;
$deepOrange-accent2: #ff6e40;
$deepOrange-accent3: #ff3d00;
$deepOrange-accent4: #dd2c00;

$brown-base: #795548;
$brown-lighten5: #efebe9;
$brown-lighten4: #d7ccc8;
$brown-lighten3: #bcaaa4;
$brown-lighten2: #a1887f;
$brown-lighten1: #8d6e63;
$brown-darken1: #6d4c41;
$brown-darken2: #5d4037;
$brown-darken3: #4e342e;
$brown-darken4: #3e2723;

$blueGrey-base: #607d8b;
$blueGrey-lighten5: #eceff1;
$blueGrey-lighten4: #cfd8dc;
$blueGrey-lighten3: #b0bec5;
$blueGrey-lighten2: #90a4ae;
$blueGrey-lighten1: #78909c;
$blueGrey-darken1: #546e7a;
$blueGrey-darken2: #455a64;
$blueGrey-darken3: #37474f;
$blueGrey-darken4: #263238;

$grey-base: #9e9e9e;
$grey-lighten5: #fafafa;
$grey-lighten4: #f5f5f5;
$grey-lighten3: #eeeeee;
$grey-lighten2: #e0e0e0;
$grey-lighten1: #bdbdbd;
$grey-darken1: #757575;
$grey-darken2: #616161;
$grey-darken3: #424242;
$grey-darken4: #212121;

$shades-black: #000000;
$shades-white: #FFFFFF;
$shades-transparent: transparent;