$primary-color_darker: hsl(220, 66%, 51%);
$primary-color_lighter: hsl(217, 89%, 60%);

@mixin head {
  html,
  body {
    box-sizing: border-box;
    font-size: 160%;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
  }
}