$color-primary: #2196F3;
$color-secondary: #1976d2;
$color-background: #fafafa;

$color-white: #ffffff;
$color-black: #000000;
$color-transparent: transparent;

$color-grey-darken-3: #424242;
$color-grey-darken-4: #212121;


$app-height: 480px;
$app-width: 320px;

$head-toolbar-height: 64px;
$home-bottomNav-height: 56px;

@mixin preset {
  html,
  body {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    font-size: 100%;
  }
}