$color-primary: #2196F3;
$color-secondary: #1976d2;
$color-background: #fafafa;

$app-height: 48rem;
$app-width: 32rem;

$head-toolbar-height: 6.4rem;
$home-bottomNav-height: 5.6rem;

@mixin preset {
  html,
  body {
    box-sizing: border-box;
    font-size: 160%;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
  }
}