doctype html
html(lang="")
  head
    meta(charset="utf-8")
    title Weel Translate Popup
  body
    weel(style="visibility: hidden; opacity: 0;")#weel__float-action-button
      weel#weel__float-action-button--container
        weel#weel__float-action-button--icon
          
    weel(style="visibility: hidden; opacity: 0;")#weel__float-action-panel
      weel#weel__float-action-panel--container
        weel#weel__float-action-panel--output-stream
          weel#weel__float-action-panel--output-stream-result
            weel#weel__float-action-panel--output-stream-result-word
              
              weel#weel__float-action-panel--output-stream-phonetic
                weel#weel__float-action-panel--i-hearing
                weel#weel__float-action-panel--output-stream-phonetic-plain
                  |&nbsp;
                  
              weel#weel__float-action-panel--output-stream-explain
                weel#weel__float-action-panel--i-copy
                weel#weel__float-action-panel--output-stream-explain-plain
                  |&nbsp;
                  
                textarea
                  
                weel#weel__float-action-panel--output-stream-explain-detail
                  |&nbsp;
                  
        
