doctype html
html(lang="")
  head
    meta(charset="utf-8")
    title Weel Translate Popup
  body
    h1 Content Test Of WeeL Translation
    
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    h4 With the management API you can:
    
    ul
      li information about installed add-ons
      li enable/disable add-ons
      li uninstall add-ons
      li find out which permission warnings are given for particular add-ons or manifests
      li get notifications of add-ons being installed, uninstalled, enabled, or disabled.
    
    p Most of these operations require the "management" API permission. Operations that don't provide access to other add-ons don't require this permission.
    
    iframe(src="demo-iframe.html" style="height: 300px; width: 100%; border: 1px solid #aaa;")
