doctype html
html(lang="")
  head
    meta(charset="utf-8")
    title Weel Translate Popup
  body
    weel#weel__float-action-button
      weel#weel__float-action-button--container
        weel#weel__float-action-button--icon
