doctype html
html(lang="")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title Option of Weel Translate 2
    link(href="https://cdn.bootcss.com/codemirror/5.32.0/codemirror.min.css" rel="stylesheet")
    link(href="https://cdn.bootcss.com/codemirror/5.32.0/theme/monokai.min.css" rel="stylesheet")
    link(href="https://cdn.bootcss.com/codemirror/5.32.0/addon/fold/foldgutter.min.css" rel="stylesheet")
    link(href="https://cdn.bootcss.com/codemirror/5.32.0/addon/lint/lint.min.css" rel="stylesheet")
  body
    main#app
    script(src="https://cdn.bootcss.com/codemirror/5.32.0/codemirror.min.js")
    script(src="https://cdn.bootcss.com/codemirror/5.32.0/mode/javascript/javascript.min.js")
    script(src="https://cdn.bootcss.com/jsonlint/1.6.0/jsonlint.min.js")
    script(src="https://cdn.bootcss.com/codemirror/5.32.0/addon/lint/lint.min.js")
    script(src="https://cdn.bootcss.com/codemirror/5.32.0/addon/lint/json-lint.min.js")

    script(src="https://cdn.bootcss.com/codemirror/5.32.0/keymap/sublime.min.js")

    script(src='https://cdn.bootcss.com/codemirror/5.32.0/addon/fold/brace-fold.min.js')
    script(src='https://cdn.bootcss.com/codemirror/5.32.0/addon/fold/comment-fold.min.js')
    script(src='https://cdn.bootcss.com/codemirror/5.32.0/addon/fold/foldcode.min.js')
    script(src='https://cdn.bootcss.com/codemirror/5.32.0/addon/fold/foldgutter.min.js')
    script(src='https://cdn.bootcss.com/codemirror/5.32.0/addon/fold/indent-fold.min.js')

    script(src='https://cdn.bootcss.com/codemirror/5.32.0/addon/selection/active-line.min.js')