doctype html
html(lang="")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title Option of Weel Translate 2
    link(href="/js/codemirror-5.32.0/codemirror.min.css" rel="stylesheet")
    link(href="/js/codemirror-5.32.0/monokai.min.css" rel="stylesheet")
    link(href="/js/codemirror-5.32.0/foldgutter.min.css" rel="stylesheet")
    link(href="/js/codemirror-5.32.0/lint.min.css" rel="stylesheet")
    link(href="/js/codemirror-5.32.0/simplescrollbars.min.css" rel="stylesheet")
    //- link(rel="stylesheet" href="/css/vuetify.min.css")
  body
    main#app
    script(src="/js/codemirror-5.32.0/codemirror.min.js")
    script(src="/js/codemirror-5.32.0/javascript.min.js")
    script(src="/js/codemirror-5.32.0/xml.min.js")
    script(src="/js/codemirror-5.32.0/htmlmixed.min.js")
    script(src="/js/codemirror-5.32.0/css.min.js")
    script(src="/js/codemirror-5.32.0/closetag.min.js")
    script(src="/js/codemirror-5.32.0/jsonlint.min.js")
    script(src="/js/codemirror-5.32.0/lint.min.js")
    script(src="/js/codemirror-5.32.0/json-lint.min.js")

    script(src="/js/codemirror-5.32.0/sublime.min.js")

    script(src="/js/codemirror-5.32.0/comment.min.js")
    script(src='/js/codemirror-5.32.0/brace-fold.min.js')
    script(src='/js/codemirror-5.32.0/comment-fold.min.js')
    script(src='/js/codemirror-5.32.0/foldcode.min.js')
    script(src='/js/codemirror-5.32.0/foldgutter.min.js')
    script(src='/js/codemirror-5.32.0/indent-fold.min.js')

    script(src='/js/codemirror-5.32.0/active-line.min.js')
    script(src='/js/codemirror-5.32.0/simplescrollbars.min.js')