doctype html
html(lang="")
  head
    meta(charset="utf-8")
    title Weel Translate Popup
    link(href="./css/main.css" rel="stylesheet")
  body
    .container(data-unique-ui="")
      include inc/toolbar.pug

      main.content
        include inc/entry.page.pug

        .page.-settings
          .group
            h3 添加 API Key
            .item.-muti-input
              label 1
              input(type="text" name="api_key")
              button(type="button").-add-new.-js.-ordinary.i-add
            .item.-muti-input
              label 2
              input(type="text" name="api_key")
              button(type="button").-add-new.-js.-ordinary.i-add

          .group
            h3 选择交互方式
            .item.-checkbox
              label 使用浮动按钮
              input(type="checkbox" name="use_fab")
              i.-fake
            .item.-checkbox
              label 自动显示弹出面板
              input(type="checkbox" name="auto_popup")
              i.-fake
            .item.-checkbox
              label 浮动结果面板
              input(type="checkbox" name="use_fap")
              i.-fake

          .group
            h3 扩展选项
            button(type="button").uninstall.wave.-js 卸载扩展

        .page.-support
          h1 About

        .page.-feedback

      section.drawer
        header.user-area
          .avatar
            img(alt="avatar" src="")
          .username user name

        nav.link-list
          a(href="entry.html").item.wave.-js
            i.i-home
            span 首页
          a(href="settings.html").item.wave.-js
            i.i-tune
            span 设置
          a(href="option.html").item.wave.-js
            i.i-extension
            span 扩展选项
          a(href="support.html").item.wave.-js
            i.i-all_inclusive
            span 支持开发
          a(href="feedback.html").item.wave.-js
            i.i-bug_report
            span 帮助 &amp; 反馈

      section.mask.-js

    script(src="js/main.js")
