doctype html
html(lang="")
  head
    meta(charset="utf-8")
    title Weel Translate Popup
    link(href="./css/main.css" rel="stylesheet")
  body
    .container(data-unique-ui="")
      header.toolbar
        button.drawer-menu.-js.i-menu

      main.content
        .page.-entry._on
          h1 Entry
        .page.-settings
          h1 Settings
        .page.-about
          h1 About

        //- footer.copyright
        //-   h2 Footer

      section.drawer
        h2 Drawer

      section.mask.-js

    script(src="js/main.js")
