doctype html
html(lang="")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title Popup of Weel Translate 2
    //- link(rel="stylesheet" href="/css/vuetify.min.css")
  body
    main#app