doctype html
html(lang="")
  head
    meta(charset="utf-8")
    title Weel Translate Popup
    link(href="./css/popup.css" rel="stylesheet")
  body
    .container(data-actived-ui="")
      include inc/toolbar.pug

      main.content
        include inc/page-entry.pug
        
        
        
        
        .page.-preferences
          .-wrap
            .group.-fab-position
              h3 __MSG_FLOATTING_PANEL_POSITION__
              .item.-radio
                input(type="radio" name="fab_pos" value="near_fab")
                label __MSG_FLOATTING_ACTION_BUTTON_POSITION__
              .item.-radio
                input(type="radio" name="fab_pos" value="text_bc")
                label __MSG_FIRST_SELECTION_CENTER__
              .item.-radio
                input(type="radio" name="fab_pos" value="page_br")
                label __MSG_THE_PAGE_BOTTOM_RIGHT__
                
              .info
                |__MSG_FLOATTING_PANEL_POSITION_INFO__
                
            .group.-voice-tts
              h3 __MSG_TTS_TUNING__
              .item.-range.-js
                label __MSG_VOLUME__
                input(type="range" name="tts_volume" value=".65" min="0" max="1" step=".01")
              .item.-range.-js
                label __MSG_TTS_PITCH__
                input(type="range" name="tts_pitch" value="1" min="0" max="2" step=".01")
              .item.-range.-js
                label __MSG_TTS_RATE__
                input(type="range" name="tts_rate" value="1" min="0" max="2" step=".01")
              
              .info
                |__MSG_TTS_TUNING_INFO__
                
            .group
              h3 __MSG_MISC__
              .item.-range.-js
                label __MSG_FAB_HIDE_DELAY__
                input(type="number" name="fab_hide_timeout" value="0" min="0" step="100")
                  
                  
                
          
        .page.-settings
          .-wrap
            .group.-translator
              h3 __MSG_SELECT_TRANSLATION_SERVICE__
              .item.-radio
                input(type="radio" name="api_src" value="google")
                label __MSG_GOOGLE__
              .item.-radio
                input(type="radio" name="api_src" value="youdao")
                label __MSG_YOUDAO__
              .item.-radio
                input(type="radio" name="api_src" value="baidu")
                label __MSG_BAIDU__
                
            .group.-translator
              h3 __MSG_GOOGLE_SRC__
              .item.-radio
                input(type="radio" name="api_google_src" value="cn")
                label __MSG_GOOGLE_CHINA__
              .item.-radio
                input(type="radio" name="api_google_src" value="com")
                label __MSG_GOOGLE_INTERNATIONAL__
                
            .group.-customAPI
              h3 __MSG_CUSTOM_TRANS_API__
              .item.-textarea
                textarea(name="custom_api")
              .info
                |__MSG_CUSTOM_TRANS_API_INFO__

            .group.-interaction
              h3 __MSG_SELECT_VOICE_TYPE__

              .item.-checkbox
                label __MSG_BY_REMOTE_VOICE__
                input(type="checkbox" name="api_speaking")
                i.-fake
                  
            .group.-interaction
              h3 __MSG_SELECT_UI_FEATURES__

              .item.-checkbox
                label __MSG_USE_FLOATTING_ACTION_BUTTON__
                input(type="checkbox" name="use_fab")
                i.-fake
              .item.-checkbox
                label __MSG_TRANSLATE_AFTER_SELECTING__
                input(type="checkbox" name="select_to_translate")
                i.-fake
              .item.-checkbox
                label __MSG_JUST_ON_TARGET_LANG__
                input(type="checkbox" name="check_aim_lang")
                i.-fake
              .item.-checkbox
                label __MSG_TRANSLATE_AFTER_POPUP__
                input(type="checkbox" name="auto_translate_selection")
                i.-fake
              .item.-checkbox
                label __MSG_CONTEXT_MENU_TRANSLATE_ENTRY__
                input(type="checkbox" name="context_menu_translate")
                i.-fake
              //- .item.-checkbox
              //-   label 右键菜单翻译(弹出面板)
              //-   input(type="checkbox" name="context_menu_translate_popup")
              //-   i.-fake
              //- .item.-checkbox
              //-   label 自动显示弹出面板
              //-   input(type="checkbox" name="auto_popup")
              //-   i.-fake
              //- .item.-checkbox
              //-   label 浮动结果面板
              //-   input(type="checkbox" name="use_fap")
              //-   i.-fake
              
              //- .info
              //-   | 启用“右键菜单翻译(弹出面板)”时请勾选“激活弹出面板时翻译”

            .group
              h3 __MSG_EXTENSION_MANAGEMENT__
              .item.-button
                button(type="button").reset-settings.wave.-js __MSG_RESET_EXTENSION_CONFIG__
              .item.-button
                button(type="button").uninstall.wave.-js.-warning __MSG_UNINSTALL_THE_EXTENSION__
          
          .-scroll
            .-wrap
              .-bar.-js
          
              
              

        //- .page.-support
        //-   h4 快了……
          
          
          

        .page.-feedback
          h4 一点说明
          p 这个翻译扩展开始的时候仅仅是为了辅助浏览英文资源时快速查词的需要，所以没有设计什么复杂的功能。
          p 因为使用的是免费（有道）和翻译服务的网页接口，为了避免日后使用出现问题，不准备加入全文翻译这种会大量消耗额度的功能特性，计划中的段落暂放。
          
          h4 问题反馈
          p
            li Github 仓库： 
              a(href="https://github.com/wallenweel/weel-translation-extension" target="_blank") https://github.com/wallenweel/weel-translation-extension
            li 问题提交： 
              a(href="https://github.com/wallenweel/weel-translation-extension/issues" target="_blank") https://github.com/wallenweel/weel-translation-extension/issues
            
          h4 联系作者
          p
            b 邮箱:&nbsp;&nbsp;&nbsp;&nbsp;
            | wallen_weel@outlook.com
          p
            b QQ:&nbsp;&nbsp;&nbsp;&nbsp;
            | 252518374
            
          

      section.drawer
        .-wrap
          header.user-area
            .avatar
              img(alt="avatar" src="")
            .username __MSG_EXTENSION_SHORT_NAME__
          
          nav.link-list
            a(href="entry.html").item.wave.-js
              i.i-home
              span __MSG_TRANSLATION__
            a(href="preferences.html").item.wave.-js
              i.i-style
              span __MSG_PREFERENCES__
            a(href="settings.html").item.wave.-js
              i.i-tune
              span __MSG_SETTINGS__
            //- a(href="support.html").item.wave.-js
            //-   i.i-all_inclusive
            //-   span __MSG_DONATE__
            a(href="feedback.html").item.wave.-js
              i.i-bug_report
              span __MSG_FEEDBACK__
            
        .-scroll
          .-wrap
            .-bar.-js
              

      section.inquiry.-js
        header.-heading
        p.-body
        footer.-actions
          
      
      section.toast.-js
        p.-body
          
      
      section.mask.-js

    //- script(src="js/simple-scrollbar.min.js")
    script(src="js/popup.js")
