doctype html
html(lang="")
  head
    meta(charset="utf-8")
    title Weel Translate Popup
    link(href="./css/main.css" rel="stylesheet")
  body
    .container(data-unique-ui="")
      header.toolbar
        button.drawer-menu.wave.-js.-ordinary.i-menu
        h1.title.-ordinary Weel Translate
        button.feedback.wave.-js.-ordinary.i-bug_report

      main.content
        .page.-entry._on
          section.input-stream
            nav.language
              .select(data-text="English" data-value="en").-origin.-js.-ordinary.i-arrow_drop_down
                .-opt(data-value="en") English
                .-opt(data-value="jp") Japanese
                .-opt(data-value="zh") 中文

              button.-swap.-js.-ordinary.i-swap_horiz

              .select(data-text="中文" data-value="zh").-destination.-js.-ordinary.i-arrow_drop_down
                .-opt(data-value="zh") 中文
                .-opt(data-value="jp") Japanese
                .-opt(data-value="en") English

            p.textarea.-js(contentEditable data-placeholder="input ...")

          section.stream-behavior
            button.wave.-js.-ordinary 选择段落
            button.translate.wave.-js.-ordinary.i-done
            button.wave.-js.-ordinary 翻译全页

          section.output-stream._on
            .result
              .-word
                .-tools
                  button.mark.-js.-ordinary
                    i.i-star_border
                    i.i-star
                .-phonetic
                  button.voice.-js.-ordinary.i-hearing
                  h5 træns'leɪt; trɑːns-; -nz-
                .-explain
                  button.copy.-js.-ordinary.i-content_copy
                  h5.-plain 翻译
                  p.-detail
                    |vt. 翻译；转化；解释；转变为；调动
                    br
                    |vi. 翻译

            .reference
              .-src
                h4.-name
                  i.i-all_inclusive
                  |Google
                p.-excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                a(href="#").-link More

              .-src
                h4.-name
                  i.i-all_inclusive
                  |Wiki
                p.-excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                a(href="#").-link More

        .page.-settings
          h1 Settings

        .page.-about
          h1 About

        //- footer.copyright
        //-   h2 Footer

      section.drawer
        h2 Drawer

      section.mask.-js

    script(src="js/main.js")
