doctype html
html(lang="")
  head
    meta(charset="utf-8")
    title Weel Translate Popup
    link(href="./css/main.css" rel="stylesheet")
  body
    .container(data-unique-ui="")
      header.toolbar
        button.drawer-menu.wave.-js.i-menu
        h1.title Weel Translate
        button.feedback.wave.-js.i-g_translate

      main.content
        .page.-entry._on
          section.input-stream
            .textarea.-js(contentEditable data-placeholder="input ...")
          section.stream-behavior
          section.output-stream

        .page.-settings
          h1 Settings

        .page.-about
          h1 About

        //- footer.copyright
        //-   h2 Footer

      section.drawer
        h2 Drawer

      section.mask.-js

    script(src="js/main.js")
