@import "settings";

weel {
  box-sizing: border-box;
  display: block;

  *, *::before, *::after {
    box-sizing: inherit;
  }

  &#weel__float-action-panel {
    transition: visibility .25s ease, opacity .25s ease;

    width: 24px;
    padding: 12px 0;

    text-align: left;

    // visibility: hidden;
    // opacity: 0;

    // transform: translate3D(200px,200px,0);

    left: 0;
    top: 0;
    z-index: 999999;
    position: fixed;

    &::before, &::after {
      content: "";

      border: 10px solid transparent;
      border-bottom-color: white;

      height: 0;
      width: 0;

      margin: auto;

      left: 0;
      right: 0;
      top: 0;
      position: absolute;
      display: block;
    }

    &::before {
      filter: blur(1px);

      border-width: 12px;
      border-bottom-color: rgba(122, 122, 122, .24);

      top: - 10px;
      z-index: 1;
    }

    &::after {
      top: - 6px;
      z-index: 2;
    }


    &._reverse {
      &::before {
        filter: blur(1px);

        border-width: 12px;
        border-bottom-color: transparent;
        border-top-color: rgba(122, 122, 122, .24);

        bottom: - 10px;
        top: initial;
        z-index: 1;
      }

      &::after {
        border-bottom-color: transparent;
        border-top-color: white;

        top: initial;
        bottom: - 6px;
        z-index: 2;
      }
    }

    &._no-arrow {
      &::before, &::after {
        display: none;
      }
    }

    &._on {
      visibility: visible !important;
      opacity: 1 !important;
    }

    &--container {
      @include box_shadow;

      // cursor: default;
      // user-select: none;

      border: 1px solid grey(9.2);
      border-radius: 2px;
      background-color: grey(10);

      // height: $sz;
      width: 220px;

      z-index: 2;
      position: relative;
    }

    &--i {
      $sz: 24px;

      &-voice {
        &::before {
          content: "\e050";
        }
      }
      &-copy {
        &::before {
          content: "\e14d";
        }
      }
      &-voice, &-copy {
        cursor: default;
        user-select: none;

        font-family: 'weel-translate' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        height: $sz;
        width: $sz;
        color: grey(4);
        line-height: $sz;
        margin-left: 0px;
        position: absolute;
        overflow: hidden;
        &:hover {
          color: $primary-color_lighter;
        }
        &:active {
          color: grey(5);
        }
      }
    }

    &--output-stream {
      &-result {
        background-color: grey(10);
        padding: 16px;
        // display: none;

        &._on {
          display: block;
        }
      }

      &-phonetic, &-explain {
        $sz: 32px;

        position: relative;
        // display: none;

        &._on {
          display: block;
        }

        &-plain {
          font-size: 14px;
          color: grey(2);
          line-height: 1.35;
          padding-top: 4px;
          text-indent: 24px;
          padding-right: 16px;
          width: 100%;
        }
      }

      &-phonetic {
        color: grey(6);
        margin-bottom: 6px;
      }

      &-explain {
        &-plain {
          font-weight: 600;
          & + textarea {
            opacity: 0;
            height: 0;
            width: 100%;
            border: none;
            position: absolute;
          }
        }
        &-detail {
          max-height: 120px;

          overflow-x: hidden;
          overflow-y: auto;

          border-top: 1px solid grey(9.6);
          font-size: 12px;
          line-height: 1.75;
          padding-top: 8px;
          margin: 8px 0;
          color: grey(2);

          display: none;

          &._on {
            display: block;
          }
        }
      }
    }

  }
}
