@import "libs/bourbon";
@import "libs/normalize";
@import "libs/icon";

@import "settings.scss";

@include normalize();

html, body {
  background-color: $primary-color_darker;
  width: 320px;
  max-width: 320px;
}

body {
  color: grey(2);
  font-weight: 300;
  font-family: $default-font-family;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

button {
  &.-ordinary {
    @include ordinary('button');
  }
}

h1, h2, h3, h4, h5, h6 {
  &.-ordinary {
    @include ordinary('h');
  }
}

.container {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 20%);
  overflow: hidden;
  flex-direction: column;
  display: flex;
  position: relative;

  header.toolbar {
    @include box_shadow(2);

    $h: 48px;

    background-color: $primary-color_lighter;
    height: $h;
    max-height: $h;
    color: hsl(0, 0%, 100%);
    padding: 0 4px;
    z-index: 14;
    position: relative;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;

    align-items: center;
    display: flex;

    button {
      $sz: 48px;

      height: $sz;
      width: $sz;
      color: hsl(0, 0%, 100%);
      font-size: 24px;
      flex-shrink: 0;
      flex-grow: 0;

      &:active {
        color: hsla(0, 0%, 100%, 0.92);
      }

      &.drawer-menu {}

      &.feedback {
        align-self: flex-end;
      }
    }

    > .title {
      font-weight: 600;
      padding: 0 4px;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  @at-root main.content {
    background-color: hsl(0, 0%, 96%);
    position: relative;
    flex-grow: 2;
    display: flex;

    .page {
      @include stealth;

      width: 100%;
      flex-shrink: 0;
      &._on {
        @include stealth(1);
      }

      &.-entry {
        section {
          &.input-stream {
            border-bottom: 1px solid grey(8.5);
            overflow: hidden;
            position: relative;

            nav.language {
              background-color: hsl(0, 0%, 98%);
              height: 32px;
              font-size: 14px;
              color: $primary-color_lighter;
              text-align: center;
              border-bottom: 1px solid grey(9.2);
              justify-content: center;
              align-items: center;
              display: flex;
              z-index: 6;
              position: relative;

              button {
                color: $primary-color_lighter;
              }
              .-origin, .-destination {
                height: inherit;
                width: 100%;
                font-size: 13px;
                margin: 0 8px;

                &._on {
                  margin-top: 6px;
                }
              }
              .-switch {
                height: inherit;
                width: 48px;
                flex-shrink: 0;

                &:active {
                  color: grey(8);
                }
              }
            }

            .textarea {
              $lh: 1.25;

              background-color: hsl(0, 0%, 100%);
              min-height: 5em * $lh;
              max-height: 7em * $lh;
              font-size: 14px;
              color: hsl(0, 0%, 45%);
              line-height: $lh;
              margin: 0;
              white-space: normal;
              word-wrap: break-word;
              padding: 12px 16px;
              overflow: hidden;
              position: relative;

              &::before {
                @include stealth(1);

                content: attr(data-placeholder);
                width: 0;
                white-space: nowrap;
                color: hsl(0, 0%, 72%);
                display: inline-block;
              }

              &._on {
                &::before {
                  @include stealth;
                }
              }
            }
          }

          &.stream-behavior {
            border-bottom: 1px solid grey(8.5);
            padding: 8px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            > button {
              $sz: 42px;

              height: $sz / 1.25;
              width: 100%;
              margin: 0 16px;
              font-size: 14px;
              color: hsl(0, 0%, 42%);
              text-align: center;
              overflow: hidden;
              position: relative;

              &.translate {
                @include box_shadow;

                transition: box-shadow .25s ease;
                border-radius: 50%;
                background-color: $primary-color_lighter;
                height: $sz;
                width: $sz;
                padding: initial;
                color: hsl(0, 0%, 100%);
                font-size: 24px;
                flex-shrink: 0;

                &:hover {
                  @include box_shadow(3);
                }
              }
            }
          }

          &.output-stream {
            border-bottom: 1px solid grey(8.5);
            background-color: hsl(0, 0%, 100%);
            min-height: 80px;
          }
        }
      }
    }
  }

  .drawer, .mask {
      @include position(absolute, 0 0 0 0);
    }

  &[data-unique-ui="drawer"] {
    .drawer {
      transform: translateX(100%);
    }
  }
  .drawer {
    $w: 260px;
    transition: transform .25s ease;
    transform: translateX(0%);
    box-shadow: 0 4px 8px hsla(0, 0%, 30%, 0.27);
    background-color: hsl(0, 0%, 100%);
    max-width: $w;
    left: -$w;
    z-index: 54;
  }

  .mask {
    @include stealth;

    background-color: hsl(0, 0%, 5%);
    z-index: 34;

    &._on {
      @include stealth(1);
      opacity: .85;
    }
  }

}

.select {
  overflow: hidden;
  position: relative;

  &::before, &::after {
    cursor: default;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
  }

  &::before {
    right: 6px;
  }

  &::after {
    content: attr(data-text);
    font-family: $default-font-family;
    top: 0;
    width: 100%;
    height: inherit;
  }

  &._on {
    @include box_shadow;

    padding: 8px 0;
    background-color: grey(10);
    overflow: visible;
    height: initial !important;
    align-self: flex-start;

    &::before, &::after {
      @include stealth;
    }

    .-opt {
      @include stealth(1);
      &:hover {
        background-color: grey(9.6);
      }
      &:first-child {
        line-height: 2.35;
      }
    }
  }

  .-opt {
    @include stealth;

    transition: background-color .25s ease;
    cursor: default;
    line-height: 2.35;
    font-family: $default-font-family;
    position: relative;
    z-index: 2;

    &:first-child {
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 0;
    }
  }
}

span.wave {
  $sz: 1px;

  border-radius: 50%;
  background-color: hsla(0, 0%, 0%, 0.24);
  height: $sz;
  width: $sz;
  display: block;
  z-index: 999;
  position: absolute;

  animation-name: wave;
  animation-duration: .925s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@keyframes wave {
  0% {
    $sz: 0;
    @include stealth(1);
    transform: scale3d($sz, $sz, 1);
  }
  100% {
    $sz: 1000;

    @include stealth;
    transform: scale3d($sz, $sz, 1);
  }
}
