@import "libs/bourbon";
@import "libs/normalize";
@import "libs/icon";

@import "settings.scss";

@include normalize();

html, body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: $primary-color_darker;
  max-height: 480px;
  width: 320px;
  max-width: 320px;
  color: grey(2);
  font-weight: 300;
  font-family: $default-font-family;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  margin: auto;
  overflow: hidden;
}

button {
  &.-ordinary {
    @include ordinary('button');
  }
}

h1, h2, h3, h4, h5, h6 {
  &.-ordinary {
    @include ordinary('h');
  }
}

.slim-scroll-container {
  overflow: hidden !important;

  > .-wrap {
    height: 100%;
    overflow: hidden !important;
  }

  &:hover {
    .-scroll {
      .-wrap {
        .-bar {
          @include stealth(1);
        }
      }
    }
  }

  .-scroll {
    bottom: 0;
    right: 2px;
    top: 0;
    position: absolute;

    // &._on, &:hover {
    // }

    .-wrap {
      border-radius: 4px;
      overflow: hidden;

      // background-color: hsla(0, 0%, 18%, 0.28);

      height: 98%;
      width: 4px;

      margin: auto;

      bottom: 0;
      right: 0;
      top: 0;
      position: absolute;

      .-bar {
        @include stealth;
        @include fade-in;

        border-radius: 4px;
        background-color: hsla(0, 0%, 18%, 0.5);
        height: 50%;

      }
    }
  }
}

.container {
  background-color: hsl(0, 0%, 100%);
  max-height: inherit;
  color: hsl(0, 0%, 20%);
  overflow: hidden;
  flex-direction: column;
  display: flex;
  position: relative;

  header.toolbar {
    @include box_shadow(2);

    $h: $header-height;

    background-color: $primary-color_lighter;
    height: $h;
    max-height: $h;
    width: 100%;
    color: hsl(0, 0%, 100%);
    padding: 0 4px;
    z-index: 14;
    position: relative;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;

    align-items: center;
    display: flex;

    button {
      $sz: 48px;

      height: $sz;
      width: $sz;
      color: hsl(0, 0%, 100%);
      font-size: 24px;
      flex-shrink: 0;
      flex-grow: 0;

      &:active {
        color: hsla(0, 0%, 100%, 0.92);
      }

      &.drawer-menu {}

      &.feedback {
        align-self: flex-end;
      }
    }

    > .title {
      font-weight: 600;
      padding: 0 4px;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  @at-root main.content {
    position: relative;
    max-height: $container-max-height - $header-height;
    display: flex;
    flex-grow: 2;

    .page {
      @include stealth;

      transition: visibility .25s ease, opacity .25s ease, transform .45s ease-in-out;
      transform: translateX(100%) scale3d(.75, .75, 1);
      background-color: hsl(0, 0%, 96%);
      max-height: inherit;
      min-height: 200px;
      height: 100%;
      width: 100%;
      flex-shrink: 0;
      left: 0;
      z-index: 1;
      position: absolute;
      overflow-y: auto;
      overflow-x: hidden;

      &._on {
        @include stealth(1);

        transform: translateX(0%) scale3d(1, 1, 1);
        z-index: 2;
        position: relative;
      }

      &.-entry {
        section {

          &.input-stream {
            background-color: hsl(0, 0%, 100%);
            z-index: 2;
            position: relative;

            nav.language {
              background-color: hsl(0, 0%, 98%);
              height: 38px;
              font-size: 14px;
              color: $primary-color_lighter;
              text-align: center;
              border-bottom: 1px solid grey(9.2);
              justify-content: center;
              align-items: center;
              display: flex;
              z-index: 6;
              position: relative;

              button {
                color: $primary-color_lighter;
              }
              .-origin, .-target {
                height: inherit;
                width: 100%;
                font-size: 13px;
                margin: 0 8px;

                &._on {
                  margin-top: 6px;
                }
              }
              .-swap {
                height: inherit;
                width: 48px;
                flex-shrink: 0;

                &:active {
                  color: grey(8);
                }
              }
            }

            textarea {
              $lh: 1.25;

              resize: none;
              background-color: hsl(0, 0%, 100%);
              min-height: 7em * $lh;
              max-height: 7em * $lh;
              max-width: 100%;
              min-width: 100%;
              font-size: 14px;
              color: hsl(0, 0%, 45%);
              line-height: $lh;
              font-size: 12px;
              word-wrap: break-word;
              outline: none;
              border: none;
              margin: 0;
              padding: 12px 16px 0;
              overflow: hidden;
              position: relative;

              &::selection, &::-moz-selection {
                background-color: none;
                color: $primary-color_lighter;
              }
            }

          }

          &.stream-behavior {
            @include box_shadow;

            $s: 1px solid grey(8.5);

            background-color: grey(10);
            padding-top: 8px;
            padding-bottom: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            > button {
              $sz: 42px;

              height: $sz / 1.25;
              width: 100%;
              margin: 0 16px;
              font-size: 14px;
              color: hsl(0, 0%, 42%);
              text-align: center;
              overflow: hidden;
              position: relative;

              &.translate {
                @include box_shadow;

                transition: box-shadow .25s ease;
                border-radius: 50%;
                background-color: $primary-color_lighter;
                height: $sz;
                width: $sz;
                padding: initial;
                color: hsl(0, 0%, 100%);
                font-size: 24px;
                flex-shrink: 0;

                &:hover {
                  @include box_shadow(3);
                }
              }
            }
          }

          &.output-stream {
            .result, .reference {
              @include box_shadow;

              background-color: grey(10);
              padding: 16px;
              margin-top: 12px;
              display: none;

              &._on {
                display: block;
              }
            }

            .result {
              min-height: 48px;
              position: relative;

              .-tools {
                width: 100%;
                height: 12px;
                margin-top: -8px;
                display: flex;
                justify-content: flex-end;
                z-index: 2;
                position: relative;
                > button {
                  $sz: 32px;
                  height: $sz;
                  width: $sz;
                  position: relative;

                  &._on {
                    i {
                      color: hsl(52, 100%, 50%);
                      &:last-child {
                        @include stealth(1);
                      }
                    }
                  }
                  > i {
                    line-height: $sz;
                    width: $sz;
                    text-align: center;
                    font-size: 24px;
                    color: grey(6);
                    position: absolute;
                    top: 0;
                    right: 0;
                    &:last-child {
                      @include stealth;
                    }
                  }
                }
              }
              .-word {
                .-phonetic, .-explain {
                  $sz: 32px;

                  position: relative;
                  display: none;

                  &._on {
                    display: block;
                  }

                  button.-js {
                    height: $sz;
                    width: $sz;
                    color: grey(4);
                    line-height: $sz;
                    margin-left: -8px;
                    position: absolute;
                    overflow: hidden;
                    &:hover {
                      color: $primary-color_lighter;
                    }
                    &:active {
                      color: grey(5);
                    }
                  }

                  h5 {
                    @include ordinary('h');

                    font-size: 14px;
                    line-height: 1.35;
                    padding-top: 6px;
                    text-indent: 32px;
                    padding-right: 16px;
                    width: 100%;
                  }
                }

                .-phonetic {
                  color: grey(6);
                  margin-bottom: 6px;
                }

                .-explain {
                  h5 {
                    font-weight: 600;
                    & + textarea.-fake {
                      opacity: 0;
                      height: 0;
                      width: 100%;
                      border: none;
                      position: absolute;
                    }
                  }
                  p.-detail {
                    border-top: 1px solid grey(9.6);
                    font-size: 12px;
                    line-height: 1.75;
                    padding-top: 8px;
                    margin: 8px 0;
                    display: none;

                    &._on {
                      display: block;
                    }
                  }
                }
              }
            }

            .reference {
              .-src {
                border-bottom: 1px solid grey(9.6);
                margin: 16px 0;
                overflow: hidden;

                &:last-child {
                  border-bottom: 0;
                }

                .-name {
                  @include ordinary('h');
                  line-height: 1.75;
                  > i {
                    margin-left: -8px;
                    padding: 0 8px;
                  }
                }

                .-excerpt {
                  margin: 0;
                  font-size: 14px;
                  line-height: 1.35;
                  color: grey(4);
                }

                a.-link {
                  @include ordinary('a');
                  color: $primary-color_lighter;
                  float: right;
                  padding: 8px;
                  font-size: 14px;
                  margin-top: -8px;
                }
              }
            }
          }
        }
      }

      &.-settings,
      &.-preferences {
        // background-color: grey(10);
        z-index: 2;

        > .-wrap {
          padding: 16px;
        }

        .group {
          margin-bottom: 24px;

          &:last-child {
          }

          > h3 {
            @include ordinary('h');

            line-height: 1.75;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: .45em;
          }

          .info {
            border-radius: 12px;
            text-align: center;
            background-color: grey(9);
            font-size: 11px;
            color: grey(6);
            line-height: 1.25;
            margin: 16px 0;
            padding: 2px 8px;

            code {
              color: hsl(0, 78%, 72%);
              margin: 0 4px;
            }

            em {
              color: hsl(217, 96%, 58%);
              font-weight: bold;
              margin: 0 4px;
            }
          }

          .item {
            font-size: 14px;

            &.-range, &.-radio {
              label {
                margin-bottom: 8px;
                display: block;
              }
            }

            &.-textarea {
              textarea {
                transition: color .25s ease;
                resize: vertical;
                border-radius: 2px;
                min-height: 5em;
                max-height: 10em;
                width: 100%;
                border: 1px solid grey(9);
                padding: 6px 8px;
                font-size: 12px;
                color: grey(8);
                line-height: 1.35;

                &:focus {
                  color: grey(3);
                }
              }
            }

            &.-radio {
              position: relative;

              input[type="radio"] {
                opacity: 0;
                height: 100%;
                width: 100%;
                position: absolute;

                &:checked {
                  & + label {
                    @include box_shadow(2, $alpha: .25);

                    background-color: $primary-color_lighter;
                    color: grey(10);
                  }
                }
              }

              label {
                $h: 24px;

                transition: background-color .25s ease, color .25s ease, box-shadow .25s ease;
                border-radius: 2px;
                background-color: grey(9);
                height: $h;
                color: grey(7);
                line-height: $h;
                font-weight: bold;
                font-size: 12px;
                padding: 0 12px;
                display: block;
              }
            }

            &.-muti-input {
              $h: 24px;

              height: $h;
              margin: 16px 0;
              align-items: center;
              display: flex;

              > label {
                width: 2em;
                flex-shrink: 0;
                color: grey(4);
              }

              input[type="text"] {
                line-height: $h;
                flex-grow: 2;
                color: grey(6);
                text-indent: .4em;
                border: 1px solid grey(9);
              }

              > button.-add-new {
                width: 24px;
                height: 100%;
                margin-left: 8px;
                flex-shrink: 0;
                &:hover {
                  color: $primary-color_lighter;
                }
              }
            }

            &.-checkbox {
              height: 42px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;

              > label {
                width: 100%;
              }

              $sz: 16; $h: 3px; $w: 48px;
              $rd: 1.8;

              > input[type="checkbox"] {
                opacity: 0;
                margin: auto;
                height: #{$sz}px;
                width: $w + $sz;
                top: 0;
                bottom: 0;
                right: - #{$sz - 2}px;
                z-index: 2;
                position: absolute;
              }
              > input[type="checkbox"] {
                & + i.-fake {
                  transition: background-color .25s ease;
                  border-radius: $h / 2;
                  background-color: grey(8.2);
                  height: $h;
                  width: $w;
                  display: flex;
                  align-items: center;
                  position: relative;
                  z-index: 1;

                  &::before, &::after {
                    content: "";
                    height: 1px;
                    width: 1px;
                    transform: scale3d($sz - 1, $sz - 1, 1);
                    display: block;
                    border-radius: 50%;
                    left: 0;
                  }
                  &::before {
                    transition: left .25s ease;
                    background-color: grey(10);
                    z-index: 2;
                    position: relative;
                  }
                  &::after {
                    transition: left .25s ease, transform .25s ease;
                    transform: scale3d($sz + 1, $sz + 1, 1);
                    background-color: hsla(0, 0%, 20%, 0.125);
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    z-index: 1;
                    position: absolute;
                  }
                }

                &:checked + i.-fake {
                  &::before, &::after {
                    left: 100%;
                  }
                  &::before {
                    background-color: $primary-color_lighter;
                  }
                }

                &:hover + i.-fake {
                  &::after {
                    transform: scale3d($sz + 9, $sz + 9, 1);
                  }
                }
              }
            }

            &.-button {
              button {
                @include ordinary('button');

                transition: all .25s ease;

                border-radius: 2px;
                background-color: grey(8);
                color: grey(3);
                height: 48px;
                width: 100%;
                margin: 8px 0;
                overflow: hidden;
                position: relative;

                &.-warning {
                  background-color: hsl(0, 90%, 45%);
                  color: grey(10);
                }

                &:hover {
                  @include box_shadow(2);

                  filter: brightness(.85);
                }
              }
            }
          }

          &.-translator {
            .item {
              &.-radio {
                display: inline-block;
                margin-right: 4px;
              }
            }
          }
        }
      }

      &.-preferences {
        .group {
          &.-fab-position {
            .item.-radio {
              $sz: 32px;

              label {
                height: $sz;

                line-height: $sz;
                text-align: center;
              }
            }
          }

          &.-voice-tts {
            .item.-range {
              input {
                width: 100%;
              }
            }
          }
        }
      }

      &.-feedback {
        font-size: 13px;

        padding: 16px;
        padding-top: 0;
        padding-bottom: 56px;

        h4 {
          @include ordinary('h');

          font-size: 16px;
          font-weight: bold;
          text-indent: .25em;
          margin-top: 1.75em;

          border-left: 4px solid grey(8);
        }

        p {
          line-height: 1.35;
        }

        a {
          text-decoration: none;
          color: $primary-color_lighter;
        }

        li {
          margin: 8px 0;
          list-style: circle;
        }
      }
    }
  }

  .drawer, .mask, .inquiry, .toast {
      @include position(absolute, 0 0 0 0);
    }

  &[data-actived-ui~="drawer"] {
    .drawer {
      box-shadow: 0 4px 8px hsla(0, 0%, 30%, 0.27);
      transform: translateX(100%);
    }
  }
  .drawer {
    $w: 240px;

    transition: transform .25s ease;
    transform: translateX(0%);
    background-color: hsl(0, 0%, 100%);
    max-width: $w;
    left: -$w;
    z-index: 54;
    overflow-y: auto;

    header.user-area {
      background-color: grey(4);
      background-color: $primary-color_darker;
      background-image: url('../img/01.jpg');
      background-size: cover;
      height: 80px;
      align-items: center;
      display: flex;

      .avatar {
        $sz: 52px;

        border-radius: 50%;
        background-color: grey(10);
        height: $sz;
        width: $sz;
        color: grey(6);
        margin: 16px;
        justify-content: center;
        align-items: center;
        display: flex;
        display: none;
      }

      .username {
        color: grey(10);
        font-weight: 600;
        margin-left: 16px;
      }
    }

    nav.link-list {
      margin: 16px 0;

      > a.item {
        @include ordinary('a');

        $sz: 48px;

        transition: background-color .25s ease, color .25s ease;
        cursor: default;
        height: $sz;
        font-size: 14px;
        align-items: center;
        display: flex;
        position: relative;
        overflow: hidden;

        &:hover {
          background-color: grey(9.6);
          color: grey(4);
        }

        > i {
          width: $sz;
          margin-right: 8px;
          font-size: 24px;
          text-align: center;
        }
      }
    }
  }

  .toast {
    @include fade-in;

    height: 1.75em;

    text-align: center;

    margin: auto;
    margin-bottom: 50px;

    z-index: 75;

    p.-body {
      opacity: .65;
      border-radius: 16px;
      background-color: hsl(0, 0%, 0%);

      max-width: 86%;
      min-width: 10em;

      color: grey(10);
      font-size: 13px;
      line-height: 1;
      white-space: nowrap;
      text-overflow: ellipsis;

      padding: 8px 16px;
      margin: 0;

      overflow: hidden;

      display: inline-block;
    }
  }

  .inquiry {
    @include fade-in;
    @include box_shadow(4);

    border-radius: 2px;
    background-color: grey(10);

    max-height: 120px;
    max-width: 82%;

    padding: 16px;
    margin: auto;

    z-index: 54;

    header.-heading {
      font-size: 14px;
      font-weight: bold;
    }

    p.-body {
      margin: 0;
      margin-top: 4px;
      font-size: 12px;
      color: grey(5);
    }

    footer.-actions {
      bottom: 0;
      right: 0;
      margin: 8px;
      position: absolute;

      button {
        @include ordinary('button');

        cursor: default;
        background-color: grey(9);

        height: 24px;

        color: grey(3);
        font-size: 14px;
        padding: 0 16px;
        margin: 0 2px;

        overflow: hidden;
        position: relative;

        &:hover {
          transition: background-color .25s ease, color .25s ease;

          background-color: $primary-color2;
          color: grey(10);
        }
      }
    }
  }

  .mask {
    @include fade-in(.85);

    background-color: hsl(0, 0%, 5%);
    z-index: 34;
  }

}

.select {
  overflow: hidden;
  position: relative;

  &::before, &::after {
    cursor: default;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
  }

  &::before {
    right: 6px;
  }

  &::after {
    content: attr(data-text);
    font-family: $default-font-family;
    top: 0;
    width: 100%;
    height: inherit;
  }

  &._on {
    @include box_shadow;

    padding: 8px 0;
    background-color: grey(10);
    overflow: visible;
    height: initial !important;
    align-self: flex-start;

    &::before, &::after {
      @include stealth;
    }

    .-opt {
      @include stealth(1);
      &:hover {
        background-color: grey(9.6);
      }
      &:first-child {
        line-height: 2.35;
      }
    }
  }

  .-opt {
    @include stealth;

    transition: background-color .25s ease;
    cursor: default;
    line-height: 2.35;
    font-family: $default-font-family;
    position: relative;
    z-index: 2;

    &:first-child {
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 0;
    }
  }
}

span.wave {
  $sz: 1px;

  border-radius: 50%;
  background-color: hsla(0, 0%, 0%, 0.24);
  height: $sz;
  width: $sz;
  display: block;
  z-index: 999;
  position: absolute;

  animation-name: wave;
  animation-duration: .925s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@keyframes wave {
  0% {
    $sz: 0;
    @include stealth(1);
    transform: scale3d($sz, $sz, 1);
  }
  100% {
    $sz: 1000;

    @include stealth;
    transform: scale3d($sz, $sz, 1);
  }
}
