$svg-icon-base: 24 !default;

@function svgem($sz) {
  @return #{$sz / $svg-icon-base}em;
}

[data-weel-translate--scoped] {
  &, * {
    all: initial;
    box-sizing: border-box;
    
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }

  // @include css-icons;

  .svg-icons {
    background: currentColor;
    height: svgem(24);
    width: svgem(24);

    font-size: #{$svg-icon-base}px;
    text-indent: svgem(-999);
    vertical-align: middle;
    display: inline-block;

    @each $name in 'content-copy' 'volume-high' {
      &.-#{$name} {
        mask: url(/icons/mdi/#{$name}.svg) no-repeat 50% 50%/svgem(24) svgem(24);
      }
    }
  }
}