$svg-icon-base: 24 !default;
$mdi-icons: 'content-copy', 'volume-high', 'google-translate', $extension-name;

@function svgem($sz) {
  @return #{$sz / $svg-icon-base}em;
}

[data-weel-translate] {
  &, * {
    all: initial;
    box-sizing: border-box;
    
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }

  & {
    height: 0;
    width: 0;
    left: 0;
    top: 0;
    position: fixed;
    display: block;
  }

  div {
    display: block;
  }

  pre {
    white-space: pre;
  }

  v {
    all: unset;
  }

  // @include css-icons;

  .weel-svg-icons {
    background: currentColor;
    height: svgem(24);
    width: svgem(24);

    color: inherit;
    font-size: #{$svg-icon-base}px;
    display: inline-block;

    @each $name in $mdi-icons {
      &.-#{$name} {
        $url: '/icons/mdi/#{$name}.svg' !default;
        
        @if $name == $extension-name {
          $url: '/icons/#{$extension-name}.svg';
        }

        mask: url($url) no-repeat 50% 50%/svgem(24) svgem(24);
      }
    }
  }

  [weel-is-fab],
  [weel-is-fap] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  
  .weel-fab,
  .weel-fap {
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s ease, visibility .25s ease, transform .125s ease-in;
    transform: translate3d(0, 0, 0);
    
    &._active {
      opacity: 1;
      visibility: visible;
    }    
  }
  
  .weel-fab {
    $sz: 32px;

    box-shadow: 0 1px 2px rgba(58, 69, 77, 0.623);
    background: #f5f5f5;
    height: $sz;
    width: $sz;
    color: $color-primary;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding: 4px;
    display: block;
    overflow: hidden;

    > .-icon {
      font-size: 22px;
    }

    &._active {
      transition: all .25s;
      opacity: .8;
      
      &:hover {
        cursor: pointer;
        opacity: 1;
        box-shadow: 0 2px 5px rgba(58, 69, 77, 0.623);
      }
      &:active {
        color: $color-secondary;
        box-shadow: 0 2px 3px rgba(58, 69, 77, 0.623);
      }
    }
  }

  .weel-fap {
    box-shadow: 0 2px 5px rgba(58, 69, 77, 0.423),
                0 0px 2px 2px rgba(58, 69, 77, 0.23);
    
    border-radius: 2px;
    background: white;
    min-height: 120px;
    min-width: 280px;
    max-width: 320px;
    padding: 16px;
    margin: 16px;
    position: relative;

    &::before,
    &::after {
      content: "";
      height: 0px;
      width: 2px;
      box-sizing: content-box;
      border: 10px transparent solid;
      border-bottom-color: white;
      left: 50%;
      position: absolute;
      display: block;
    }
    
    &::before {
      filter: drop-shadow(0 0px 2px rgba(58, 69, 77, 0.723));
      margin-left: -12px;
      top: -20px;
      z-index: -1;
    }
    &::after {
      width: 10px;
      margin-left: -16px;
      top: -16px;
    }

    > .-phonetic,
    > .-translation {
      line-height: 1.25;
      align-items: center;
      display: flex;

      button.-js {
        $sz: 32px;
        transition: color .25s;
        height: $sz;
        width: $sz;
        color: $blueGrey-darken3;
        border-radius: $sz / 2;
        margin-right: 4px;
        align-items: center;
        justify-content: center;
        display: flex;

        &:hover {
          cursor: pointer;
          color: $color-primary;
        }
        &:active {
          color: $color-secondary;
        }

        &[weel-on-copy] {
          align-self: flex-start;
        }
      }
    }

    > .-translation {
      font-weight: bold;
    }

    > .-explain {
      border-top: 1px solid $grey-lighten1;
      margin: 12px 0;
      padding-top: 8px;
      > pre {
        font-size: 14px;
        line-height: 1.35;
        white-space: pre-wrap;

        p {
          display: block;
        }
      }
    }
  }
}