.page.-entry._on
  section.input-stream
    nav.language
      .select(data-text="自动" data-value="").-origin.-js.-ordinary.i-arrow_drop_down
        .-opt(data-value="") 自动
        .-opt(data-value="en") English
        .-opt(data-value="jp") Japanese
        .-opt(data-value="zh") 中文

      button.-swap.-js.-ordinary.i-swap_horiz

      .select(data-text="自动" data-value="").-destination.-js.-ordinary.i-arrow_drop_down
        .-opt(data-value="") 自动
        .-opt(data-value="zh") 中文
        .-opt(data-value="jp") Japanese
        .-opt(data-value="en") English

    textarea(autocomplete="false" placeholder="__MSG_INPUT_SOMETHING__ ...")

  section.stream-behavior
    button.clear.wave.-js.-ordinary __MSG_CLEAR_INPUT__
    button.translate.wave.-js.-ordinary.i-done_all
    button.full-text.wave.-js.-ordinary __MSG_TRANSLATE_PAGE__

  section.output-stream
    .result
      .-word
        .-tools
          button.mark.-js.-ordinary
            i.i-star_border
            i.i-star
        .-phonetic
          button.voice.-js.-ordinary.i-hearing
          h5.-plain
        .-explain
          button.copy.-js.-ordinary.i-content_copy
          h5.-plain
          textarea.-fake.-js
          p.-detail

    .reference
      .-src
        h4.-name
          i.i-all_inclusive
          |Google
        p.-excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        a(href="#").-link More

      .-src
        h4.-name
          i.i-all_inclusive
          |Wiki
        p.-excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        a(href="#").-link More
